<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/app148/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app148/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app148/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app148/login">Login</a>
                </li>	
                <li class="nav-item">
                    <a class="nav-link" href="/app148/logout">Logout</a>
                </li>				
                <li class="nav-item">
                    <a class="nav-link" href="/app148/crud">Crud</a>
                </li>
            </ul>
        </div>
    </div>
</nav>